.page-header h1,
.page-header .h1,
.page-header h2,
.page-header .h2,
.page-header h3,
.page-header .h3,
.page-header h4,
.page-header .h4,
.page-header h5,
.page-header .h5,
.page-header h6,
.page-header .h6 {
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.1;
}

.page-header h1,
.page-header .h1 {
	/*font-size: 3.6rem;*/
	font-size: 3rem;
	color: #fff;
}

/*
.page-header {
    padding: 2.5rem 0 5rem; 
}
.breadcrumb-nav + .page-header {
    margin-top: -2rem; 
}
.page-header h1 {
    color: #000;
    margin-top: .3rem;
    margin-bottom: .3rem; 
}
.page-header h1 span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    margin-bottom: .4rem; 
}
.page-header.page-header-bg {
    background-size: cover;
    background-position: 70% center;
    background-repeat: no-repeat;
    background-color: #ccc;
    padding-top: 4rem;
    padding-bottom: 4rem; 
}

.page-header h1,
.page-title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0; 
}

@media screen and (min-width: 768px) {
    .page-header {
        padding-top: 5rem;
        padding-bottom: 7rem; 
    }
    .page-header h1 span {
        font-size: 1.6rem; 
    }
    .page-header.page-header-bg {
        padding-top: 6rem;
        padding-bottom: 6rem; 
    } 
}

@media screen and (min-width: 992px) {
    .page-header {
        padding-top: 8.5rem;
        padding-bottom: 10.25rem; 
    }
    .page-header h1 span {
        font-size: 1.8rem; 
    }
    .page-header.page-header-bg {
        padding-top: 9rem;
        padding-bottom: 9rem; 
    } 
}*/

.page-header.page-header-bg {
	/*
    background: rgb(0,130,112);
    background: linear-gradient(90deg, rgba(0,130,112,1) 0%, rgba(0,111,112,1) 34%, rgba(0,91,96,1) 67%, rgba(0,91,96,1) 100%);

    background: rgb(1,104,110);
    background: linear-gradient(90deg, rgba(1,104,110,1) 0%, rgba(1,81,85,1) 34%, rgba(0,73,78,1) 67%, rgba(0,59,61,1) 100%);
    
    background: #16a34a;

    
    background: rgb(15, 129, 18);
    background: linear-gradient(90deg, rgb(30 155 76) 0%, rgb(15 81 39) 100%);
    

    background: rgb(26,130,64);
    background: linear-gradient(90deg, rgba(26,130,64,1) 0%, rgba(28,85,61,1) 49%, rgba(42,63,78,1) 100%);
    */

	background: radial-gradient(circle at top, #1a8240, #16a34a);
}
@media (min-width: 480px) {
	.page-header h1,
	.page-header .h1 {
		font-size: 3.5rem;
	}
}

@media (min-width: 576px) {
	.container {
		/*max-width:540px !important;*/
	}

	.page-header h1,
	.page-header .h1 {
		font-size: 4rem;
	}
}

@media screen and (min-width: 768px) {
	.page-header h1,
	.page-header .h1 {
		font-size: 4.5rem;
	}
}

@media screen and (min-width: 992px) {
	.page-header h1,
	.page-header .h1 {
		font-size: 5rem;
	}
}