/*=== package-list ============ */

.package-list {
	padding-bottom: 1.6rem;
}

.package-list .package-item {
	padding: 5rem 0 2rem;
	margin: 0;
	transition: all 0.3s;
}

.divide-line.up-effect.package-list .package-item {
	padding: 5rem 0 2rem;
	margin: 0;
	transition: all 0.3s;
}

.divide-line.up-effect.package-list .package-item:hover {
	padding: 1rem 0 4rem;
}

.package-list .package-item:hover {
	z-index: 2;
}

.package-list .package-item a {
	color: #465157;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.package-list .package-item a:hover {
	color: #6eb115;
	text-decoration: none;
}

.package-list .package-item figure {
	margin-bottom: 1.6rem;
	position: relative;
	/*max-width: 270px;
    margin-right: 20px;
    margin-bottom: 0;*/
}

.package-list .package-item figure img {
	transition: all 0.5s;
	height: auto;
	width: 100%;
	/*object-fit: cover;*/
	height: auto;
}

.package-list .package-item:hover figure {
	box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.1);
}

.package-list .package-item figure img:last-child {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	left: 0;
}
.package-list .package-item figure img:first-child {
	opacity: 1;
	position: relative;
}
.package-list .package-item .label-group {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0.8rem;
	left: 0.8rem;
}
.package-list .package-item .label-group > * {
	margin-bottom: 5px;
}

.package-list .package-item .package-label {
	text-transform: uppercase;
	padding: 10px 10px;
	font:
		600 1.75rem/1 'Open Sans',
		sans-serif;
	color: white;
}

.package-list .package-item .package-label.label-sale {
	background-color: #13b118;
	position: absolute;
	/*bottom: 0px;
    right: 0px;*/
	top: -20px;
	left: 25px;
}

.package-list .package-item .package-label.label-sale::before {
	display: block;
	position: absolute;
	top: 0px;
	left: -2rem;
	width: 0;
	height: 0;
	content: '';
	border-bottom: 20px solid #0f7334;
	border-left: 20px solid transparent;
}

/*
.package-list .package-item .package-label.label-cut {
    background-color: #e27c7c; 
}
*/

.package-list .package-item .package-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.package-list .package-item .package-details .price-box {
	margin-bottom: 1.2rem;
}

.package-list .package-item .package-details .price-box .package-price {
	color: #465157;
	font:
		600 2rem / 0.8 'Open Sans',
		sans-serif;
}

.package-list .package-item .category-list {
	font:
		400 1rem 'Open Sans',
		sans-serif;
	line-height: 1.7;
	opacity: 0.8;
	text-transform: uppercase;
}
.package-list .package-item .category-list a {
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.package-list .package-item .package-title {
	font:
		400 2rem 'Open Sans',
		sans-serif;
	letter-spacing: -0.01em;
	line-height: 1.35;
	margin-bottom: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*.package-list .package-item .package-description {
    font: 400 1.4rem "Open Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}*/

/*.package-list .package-item .tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 1rem .7rem;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%); 
}*/

.package-list .package-item .package-action {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	color: #333;
}

.package-list .package-item:hover .btn-add-cart {
	background-color: #13b118;
	border-color: #13b118;
	color: white;
}
/*.package-list .package-item:hover .package-action a {
    transform: translateX(0);
    opacity: 1; 
}*/

.package-list .package-item .btn-add-cart {
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid #ddd;
	border-top-color: rgb(221, 221, 221);
	border-right-color: rgb(221, 221, 221);
	border-bottom-color: rgb(221, 221, 221);
	border-left-color: rgb(221, 221, 221);
	padding: 0 1rem;
	font:
		1.4rem 'Oswald',
		sans-serif;
	line-height: normal;
	line-height: 32px;
	margin: 0 2px;
	cursor: pointer;
	transition: all 0.25s ease;
}

.package-list .package-item .btn-add-cart i {
	margin-right: 5px;
}
