{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 150,
	"singleAttributePerLine": false,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"endOfLine": "auto"
}
