.react-datatable-wrapper{
    font-size: 15px;
    margin: 0;
    /* padding: 0 15px;*/
    /*overflow-x: hidden;*/
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.react-datatable-wrapper .btn {
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    padding: 1px 15px;
    border: none;
    outline: none;
    background-color: #ffd559;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    vertical-align: top;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    color: #000;
}
.react-datatable-wrapper .text-center{
    text-align: center;
}

@media (max-width: 767px){
    .react-datatable-wrapper html, body{
        padding: 0;
    }
}

.react-datatable-wrapper .table-title {
    padding: 15px 5px;
    background-color: #3d4e5d;
    color: #fff;
    font-size: 16px;
}
.react-datatable-wrapper .table-title h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
.react-datatable-wrapper .table-meta {
    padding: 5px;
    background-color: #66849e;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.react-datatable-wrapper .table-meta .btn:hover{
    background-color: #fff;
}

.react-datatable-wrapper .table-filter-seletor-form .table-filter-selector {
    min-width: 220px;
    outline: none;
    border: none;
    padding: 3px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #2b2b2d;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
.react-datatable-wrapper .table-add-btn {
    line-height: 25px;
    color: #000;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    text-decoration: none;
    /*height: 30px;*/
    line-height: 31px;
}
.react-datatable-wrapper .search-form-wrapper {
    text-align: right;
    margin: 5px 0;
}
.react-datatable-wrapper .search-form-wrapper .search-form {
    display: inline-block;
}
.react-datatable-wrapper .search-form-wrapper .search-form .searchbox {
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #2b2b2d;
    color: #fff;
    margin-right: 5px;
}

.react-datatable-wrapper .search-form-wrapper .search-form .searchbox::placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 991px){
    .react-datatable-wrapper .search-form-wrapper{
        /* margin-top: 10px; */
    }
}
@media (max-width: 767px){
    .react-datatable-wrapper .btn{
        font-size: 12px;
    }
    .react-datatable-wrapper .table-add-btn{
        /* position: relative;
        right: 0;
        display: inline;
        padding: 8px 15px;
        height: 32px; */
        top: auto;
        bottom: 5px;
    }
    .react-datatable-wrapper .table-filter-seletor-form .table-filter-selector{
        width: 100%;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .react-datatable-wrapper .search-form-wrapper{
        text-align: left;
        padding: 0 5px;
        margin-top: 10px;
    }
    .react-datatable-wrapper .search-form-wrapper .search-form{
        width: 100%;
    }
    .react-datatable-wrapper .search-form-wrapper .search-form .searchbox{
        width: calc(100% - 100px);
        float: left;
    }
    .react-datatable-wrapper .table-search-btn{
        width: 80px;
        float: right;
    }
}

.react-datatable-wrapper .table-figure table {
    width: 100%;
    text-align: left;
}
.react-datatable-wrapper .table-figure table thead {
    background-color: #3D4E5D;
    color: #fff;
}
.react-datatable-wrapper .table-figure table thead tr {
    border: none;
    outline: none;
    border-spacing: 0px;
    border-collapse: unset;
}
.react-datatable-wrapper .table-figure table thead tr th {
    /*padding: 5px;*/
    padding: 10px 25px 10px 5px;
    position: relative;
    /*padding-right: 25px;*/
}

.react-datatable-wrapper .table-figure table thead tr th.product-price{
    padding: 10px 25px 10px 10px;
}


.react-datatable-wrapper .table-figure table thead tr th a {
    position: absolute;
    right: 5px;
    top: 50%;
    /*top: 30%;*/
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.react-datatable-wrapper .table-figure table thead tr th a{
    text-decoration: none;
    color: #fff;
}

.react-datatable-wrapper .table-figure table tbody td {
    padding: 5px;
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
}

.react-datatable-wrapper .table-figure table tbody td a.fas.fa-edit,
.react-datatable-wrapper .table-figure table tbody td a.fas.fa-trash-alt{
    /*cursor: pointer;*/
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.react-datatable-wrapper .table-figure table tbody tr:nth-of-type(odd) {background-color: #fff}
.react-datatable-wrapper .table-figure table tbody tr:nth-of-type(even) {background-color: #e0dfdf7d}
.react-datatable-wrapper .table-figure table tbody tr:hover {background-color: #e8eaef}

.react-datatable-wrapper .table-figure table tbody td:last-child {
    border-right: none;
}

.react-datatable-wrapper .table-figure table tbody td.product-image img {
    min-width: 100%;
    width: 150px;
    height: 160px;
    object-fit: cover;
    object-position: center;
}
.react-datatable-wrapper .table-figure {
    overflow-x: auto;
}

.react-datatable-wrapper .pagination-row {
    position: relative;

    background-color: #3D4E5D;
    color: #fff;
}
.react-datatable-wrapper .pagination-boxes li {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid;
    float: left;
    background-color: #11263E;
    color: #fff;
    border-left: none;
}


.react-datatable-wrapper .pagination-boxes li a{
    text-decoration: none;
    color: #fff;
}


.react-datatable-wrapper .pagination-boxes li:hover,
.react-datatable-wrapper .pagination-boxes li.rc-pagination-item-active
{
    background-color: #A1ADBC;
}

.react-datatable-wrapper .pagination-boxes li:hover a{
    color: #000;
    font-weight: bold
}



.react-datatable-wrapper .pagination-boxes li {
    display: inline-block;
}
.react-datatable-wrapper .pagination-filter .filter {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin-left: 5px;
}
.react-datatable-wrapper .pagination-summery {
    height: 32px;
    line-height: 32px;
    float: right;
}
.react-datatable-wrapper .pagination-filter .filter select {
    height: 30px;
    color: #000;
}
.react-datatable-wrapper .pagination-filter {

    color: #fff;
}
.react-datatable-wrapper .pagination-summery {
    height: 32px;
    line-height: 32px;
    float: right;
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #fff;
}
@media (max-width: 767px){
    .react-datatable-wrapper .pagination-boxes {
        background-color: #00104c;
        text-align: center;
        padding: 15px;
    }
    .react-datatable-wrapper .pagination-boxes li {
        display: inline-block;
        float: none;
        margin-bottom: 6px;
        margin-right: 6px;
        border-left: 1px solid;
    }
    .react-datatable-wrapper .pagination-filter .filter{
        display: block;
        margin-bottom: 5px;
        text-align: center;
        padding: 3px;
    }
    .react-datatable-wrapper .pagination-summery {
        position: relative;
        float: none;
        background-color: #4b598e;
        right: 0;
        top: -3px;
        text-align: center;
        padding: 3px;
    }
}

.react-datatable-wrapper .search-div{
    position: absolute;
    right: 5px;
    top: 27px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.react-datatable-wrapper .search-div .searchbox{
    height: 30px;
    border: none;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.react-datatable-wrapper strong {
  background: red;
  color: white;
  font-weight: inherit;
}


ul.pagination-boxes{
    padding: 0px;
}

ul.pagination-boxes li a{
    cursor: pointer;
}
