textarea.form-control,
.form-control {
	max-width: 100%;
}

.step-title {
	padding-bottom: 9px;
	font-weight: 600;
	font-size: 2.1rem;
	/*    border-bottom: 1px solid #cccccc;*/
	border-bottom: 2px solid #2b2b2d;
	margin-bottom: 0;
}

.step-sub-title {
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	padding-bottom: 7px;
	border-bottom: 2px solid #cccccc;
}

.headline-big {
	font-weight: 400;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
.headline {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 1.25rem;
}
.headline-small {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.text-section p {
	font-size: 1.5rem;
	line-height: 1.75;
	font-weight: 400;
	margin-bottom: 1rem;
}

/*
h1, .h1 {font-size: 3.6rem !important;}
h2, .h2 {font-size: 2.1rem !important;}
h3, .h3 {font-size: 1.8rem !important;}
h4, .h4 {font-size: 1.6rem !important;}
h5, .h5 {font-size: 1.2rem !important;}
h6, .h6 {font-size: 1rem !important;}
*/

body:not(.loaded) > *:not(.loading-overlay) {
	/*visibility: hidden;
    visibility: unset; */
	visibility: visible;
}

.history-section .lead {
	line-height: 1.75;
	font-weight: 400;
}

.history-section .lead-center {
	font-size: 1.5rem;
	line-height: 1.75;
}

.cart-dropdown .dropdown-toggle::before {
	content: '\e80c';
	color: #16a34a;
}

.header-contact {
	font-size: 1.5rem;
	padding-right: 2rem;
	margin-right: 2rem;
}

.featured-section.with-border {
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}

/*banner-subtitle*/
/*banner-title*/
.subHeading {
	color: #03050a;
	font:
		700 1.8rem / 1.1 'Open Sans',
		sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.titleHeading {
	color: #03050a;
	font:
		800 3.2rem / 1.1 'Open Sans',
		sans-serif;
	letter-spacing: -0.02rem;
	text-transform: uppercase;
	margin-bottom: 3rem;
}

.product-default:hover .btn-add-cart,
.product-list .btn-add-cart {
	background-color: #16a34a;
	border-color: #16a34a;
}

.product-list .btn-add-cart:hover {
	background-color: var(--success);
	border-color: var(--success);
}

.package-price-content .package-price {
	color: #465157;
	font:
		600 1.8rem / 0.8 'Open Sans',
		sans-serif;
}

/* ===== product-single-details ======*/

.sold-count {
	font-size: 1.6rem;
	letter-spacing: 0.005em;
	font-weight: 600;
	color: #4a505e;
	font-family: 'Open Sans';
	margin-bottom: 3px;
	text-transform: capitalize;
}

.product-default {
	color: #777;
	margin-bottom: 2rem;
}

.product-default figure {
	margin-bottom: 1.6rem;
	position: relative;
}

.product-default .product-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product-default .product-details .ratings-container {
	line-height: 1;
	margin: 0 0 10px 1px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.product-default .product-details .ratings-container .product-ratings {
	height: 13px;
}

.product-default .product-details .ratings-container .product-ratings,
.product-default .product-details .ratings-container .ratings {
	position: relative;
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-family: 'porto';
}

.product-default .product-details .ratings-container .ratings {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
}

.product-default .product-details .ratings-container .ratings::before {
	content: '\e852 ' '\e852 ' '\e852 ' '\e852 ' '\e852';
	color: #6a6a6d;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
html {
	scrollbar-width: normal;
	/*scrollbar-color: #16a32f #ffffff; */
}

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar {
	width: 1vw;
}

html::-webkit-scrollbar-thumb {
	background-color: #16a32f85;
	border-radius: 2px;
	border: 0px solid #ffffff;
}
html::-webkit-scrollbar-thumb:hover {
	background-color: #16a32f;
	/* background-color: #0e12ff; */
}

html::-webkit-scrollbar-track {
	background: rgb(223, 220, 220);
}

html::-webkit-scrollbar-track:hover {
	background: #ffffff;
	/* background: #def196; */
}

/*===============================================*/

/*
table.table-cart tr.product-row {
	display: inline-table;
}

table.table-cart tr.product-row td.product-col {
	display: flex;
}
table.table-cart tr.product-row td.product-col .product-image-container {
	width: 100%;
	max-width: none;
}

table.table-cart tr.product-row td.product-col .product-name {
	text-align: center;
	max-width: 180px;
	padding: 1rem 0.5rem;
}

table.table-cart tfoot tr {
	display: table-row;
}

table.table-cart tfoot {
	display: table-footer-group;
}

table.table-cart tfoot .btn {
	margin-top: 0rem !important;
}

@media (min-width: 480px) {
	table.table-cart tr.product-row td.product-col .product-image-container {
		max-width: 400px;
	}
}

@media (min-width: 576px) {
	table.table-cart tr.product-row td.product-col .product-image-container {
		max-width: 300px;
	}
}

@media (min-width: 768px) {
	table.table-cart tr.product-row {
		display: table-row;
	}
	table.table-cart tr.product-row td.product-col .product-image-container {
		max-width: 180px;
	}

	table.table-cart tr.product-row td.product-col {
		display: block;
	}
}
*/
