.previously-buy-items .entry-date {
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 5px;
	z-index: 9999;
	right: 15px;
	width: 85px;
	float: none;
	margin-right: 0px;
}
@media (min-width: 576px) {
	.previously-buy-items .entry-date {
		position: static;
		width: 45px;
		float: left;
		margin-right: 10px;
	}
}
