html {
	height: 100%;
}

div {
	padding-left: 1rem;
	margin: auto;
	padding: 0.5rem;
}

.test {
}

aside {
	margin: 0.5rem;
}

span {
	margin: 0.5rem;
	background-color: red;
	color: blue;
}

div {
	font-family: 'Courier New', Courier, monospace;
	display: block;
	padding-left: 2rem;
}

textarea.form-control,
.form-control {
	max-width: 100%;
}

.step-title {
	padding-bottom: 9px;
	font-weight: 600;
	font-size: 2.1rem;

	/*    border-bottom: 1px solid #cccccc; */
	border-bottom: 2px solid #2b2b2d;
	margin-bottom: 0;
}

.step-sub-title {
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	padding-bottom: 7px;
	border-bottom: 2px solid #ccc;
}

.headline-big {
	font-weight: 400;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.headline {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

.headline-small {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.text-section p {
	font-size: 1.5rem;
	line-height: 1.75;
	font-weight: 400;
	margin-bottom: 1rem;
}

/*
h1, .h1 {font-size: 3.6rem !important;}
h2, .h2 {font-size: 2.1rem !important;}
h3, .h3 {font-size: 1.8rem !important;}
h4, .h4 {font-size: 1.6rem !important;}
h5, .h5 {font-size: 1.2rem !important;}
h6, .h6 {font-size: 1rem !important;}
*/

body:not(.loaded) > *:not(.loading-overlay) {
	/* visibility: hidden;
    visibility: unset; */
	visibility: visible;
}

.history-section .lead {
	line-height: 1.75;
	font-weight: 400;
}

.history-section .lead-center {
	font-size: 1.5rem;
	line-height: 1.75;
}

.cart-dropdown .dropdown-toggle::before {
	content: '\e80c';
	color: #16a34a;
}

.header-contact {
	font-size: 1.5rem;
	padding-right: 2rem;
	margin-right: 2rem;
}

.featured-section.with-border {
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}

/* banner-subtitle */
